.product-specs-list > li
{
	list-style: square inside;
	line-height: 18px;
	margin-left: 3px;
	margin-bottom: 3px;
	font-size: 13px;
}

.product-specs-title {
	font-weight: normal;
}

.facets-facet-browse-results
{
	@media (min-width: 1200px)
	{
		width: 870px;
	}

	@media(min-width: 980px) and (max-width: 1199px)
	{
		width: 700px;
	}

	@media(min-width: 768px) and (max-width: 979px)
	{
		width: 538px;
		margin-top: 20px;
	}

	@media(max-width: 767px)
	{
		width: 100%;
		margin-top: 20px;
	}
}

.facets-item-cell-list-name {
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
		color: black;
	}

	&:active {
		color: black;
	}
}

.product-specs-model-num
{
	display: block;
	margin-bottom: 10px;
	color: $darkGrey;
	font-size: 13px;
	line-height: 18px;
}

.specialBadge
{
	display: inline-block;
    background-color: rgba(255,255,255,0);
    color: $yellow;
    position: relative;
    top: -7px;
    padding-left: 2px;
    font-size: 11px;
    text-transform: uppercase;
}

.product-views-product-specs
{
	@media(max-width: 767px)
	{
		display: none;
	}
}