// Footer variables
$sc-footer-background-color: #f2f2f2; /* editable({"type": "color", "label": "Background"}) */
$sc-footer-border-color: #ccc; /* editable({"type": "color", "label": "Border"}) */
$sc-footer-text-color: #000; /* editable({"type": "color", "label": "Text"}) */

// Link variables
$sc-footer-link-color: $sc-color-link; /* editable({"type": "color", "label": "Link"}) */
$sc-footer-link-color-hover: $sc-color-link-hover; /* editable({"type": "color", "label": "Link hover"}) */
$sc-footer-link-color-active: $sc-color-link-active; /* editable({"type": "color", "label": "Link active"}) */

// Headings color
$sc-footer-headings-color: #000; /* editable({"type": "color", "label": "Headings"}) */

// Input fields variables
$sc-footer-fields-background-color: $sc-neutral-shade-0;
$sc-footer-fields-border-color: #000;
$sc-footer-fields-text-color: $sc-color-copy;

// Buttons variables
$sc-footer-buttons-background-color: #000; /* editable({"type": "color", "label": "Button background"}) */
$sc-footer-buttons-text-color: #fff; /* editable({"type": "color", "label": "Button text"}) */
$sc-footer-buttons-border-color: #000; /* editable({"type": "color", "label": "Button border"}) */

// Copyright color
$sc-footer-copyright-text-color: #000; /* editable({"type": "color", "label": "Copyright text"}) */

// ********
// KODELLA
// ********

$sc-footer-background-color: #fff;