.product-review-list-detail-text-container{
	display: block;
    width: 100%;
    line-height: normal;
    padding-bottom: $sc-padding-lv2;

	@media (min-width: $screen-xs-min) {
		display: table;
		border-bottom:1px solid $sc-color-theme-border-light;
	}

	@media (max-width: $screen-xs-min) {
		padding-left: $sc-padding-lv2;
		padding-right: $sc-padding-lv2;
	}

}

.product-review-list-detail-text-content{
	@extend .sc-label;
	line-height: $sc-font-size-s*2;
}

.product-review-list-detail-item-name-container {
	@extend .order-history-details-accordion-container;
}

.product-review-list-detail-header{
	@extend .accordion-head-toggle;
	color: black;
	font-weight: normal;
	border-bottom: none;
	position: relative;
	cursor: default;

	@media (max-width: $screen-xs-min){
    	padding: 0;
    }

	.product-review-list-detail-title {
		line-height: inherit;
		vertical-align: middle;
		font-size: 1.4rem;
		font-weight: bolder;
		color: $sc-color-primary;
	}

}

.product-review-list-detail-item-detail-container{
	@extend .accordion-body;
}

.product-review-list-detail-item-image-container{
	@extend .accordion-container;

	img {
		display: block;
		margin-right: auto;
		margin-left:auto;
	}
}

.product-review-list-detail-text-col {
	max-width: 100%;
	overflow-wrap: break-word;
}

.product-review-list-detail-back-btn {
	@extend .button-back-icon;
}

.product-review-list-detail-title {
	margin-bottom:$sc-margin-lv2;
}

.product-review-list-detail-header-title {
	margin-bottom:$sc-margin-lv2;
}

.product-review-list-detail-header-row {
	@extend .row;
	margin-bottom:$sc-margin-lv2;
}

.product-review-list-detail-header-col-left {
	@extend .col-sm-6;
}

.product-review-list-detail-header-date-info-label {
	@extend .sc-label;
}

.product-review-list-detail-header-rating-container {
	@extend .col-sm-6;
	float:right;
}

.product-review-list-detail-rating-data {
	float:right;
	margin-left: 5px;
}

.product-review-list-detail-row {
	@extend .row;
}

.product-review-list-detail-content-col {
	@extend .col-md-8;
	margin-bottom:$sc-margin-lv4;
	width: 100%;

	@media (min-width: $screen-sm-min) {
		margin-bottom:$sc-margin-lv4;
		width: 69%;
	}
}

.product-review-list-detail-item-details {
	text-align: center;
	font-weight: bolder;
}