.header-simplified-header{
	display: table;
	width: 100%;
	height: $sc-main-nav-height;
	background-color: $sc-top-menu-background-color;
	border-bottom: 1px solid $sc-color-theme-border;
	// box-shadow: 3px 0px 6px $sc-header-shadow-color;
}

.header-simplified-header-logo{
	display: table-cell;
	text-align: center;
	vertical-align: middle;

	.header-logo-image{
		width: auto;
		max-height: 48px;
	}
}

